@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

#nav {
  position:fixed;
   top:0;
   left:0;
   width:100%;
   float: left;
   color: black;
     z-index: 9;
}

#bottom {
   left:0;
   width:100%;
   color: black;
}

  html {
  background-color: white;
  }

#header1 {
  margin-top: 25px;
  height: 350px;
  width: 100%;
  background-size: 100%;
  background-image: url('https://cdn.discordapp.com/attachments/331604718084161538/335390413659832322/7289da.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header2 {
  margin-top: 25px;
  height: 350px;
  width: 100%;
  background-size: 100%;
  background-image: url('pic.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  margin-top: 25px;
  height: 200px;
  width: 100%;
  background-size: 100%;
  background-image: url('pic.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 5px 5px;
  padding: 0.4em 0.4em;
}

video {
	  border-radius: 5px 5px 5px 5px;
  padding: 0.4em 0.4em;
}
#center {
  text-align: center;
}

center {
	image-align: center;
}

#about {
  text-align: center;
}

#header {
  font-family: 'verdana';
  	color: white;
}

#text {
    position: absolute;
    left: 16%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
}

#center {
	  position: center;
}
#img1 {
  float: left;
  margin-left: 15%;
  margin-top: 50px;
}

#invite {
  position: absolute;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

title {
	color: black;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.125;
}

h1 {
  font-size: 50px;
}
p {
  font-size: 17px;
}
body {
	color: black;
	margin-bottom: 100px;
}

.help {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.1rem;
  position: relative;
  text-align: center;
    border-radius: 5px 5px 5px 5px;
  padding: 0.4em 0.4em;
}

.help-left,
.help-right {
  -webkit-overflow-scrolling: touch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  overflow: auto;
}

#video_box{
    float:left;
}
#video_overlays {
position:absolute;
float:left;
    width:640px;
    min-height:370px;
    background-color:#000;
    z-index:300000;
}
